[submodule "ext/Expect.NET"]
	path = ext/Expect.NET
	url = https://github.com/allisterb/Expect.NET.git
[submodule "ext/mathnet-symbolics"]
	path = ext/mathnet-symbolics
	url = https://github.com/allisterb/mathnet-symbolics.git
[submodule "ext/FunScript"]
	path = ext/FunScript
	url = https://github.com/allisterb/FunScript.git
